/build/
.DS_Store
/node_modules/
/server/src/github.com/ethereum/go-ethereum/
/metacoin/
tabookey-gasless-*.tgz
/.vscode/settings.json
/.idea/
/server/pkg/darwin_amd64/
/server/pkg/linux_amd64/
/server/bin/
/serverdock/version
/secret_mnemonic
/.0x-artifacts/
/coverage/
/coverage.json
/artifacts/
/webtools/tabookey-webtools.pack.js
/singleton/
