packages/dev/build/
.DS_Store
node_modules
/.vscode/settings.json
/.idea/*
!/.idea/dictionaries/
/secret_mnemonic
/.0x-artifacts/
/webtools/openeth-webtools.pack.js
/.eslintcache
/packages/common/src/interfaces/
/packages/paymasters/src/interfaces/
/ganache.pid
/dist/
cache
/packages/cli/src/compiled/
/opengsn-gsn-*.tgz
/RelayClient.ts
/RelayProvider.ts
/GSNConfigurator.ts
/GsnTestEnvironment.ts
artifacts
/yarn-error.log
/jsrelay/gsndata/
/jsrelay/dist/relayserver.js
/json-input.json
/combined.log
**/dist
tsconfig.tsbuildinfo
/packages/dev/json-input.json
yarn-error.log
/lerna-debug.log
/packages/contracts/build/
/packages/contracts/json-input.json
/packages/contracts/types/truffle-contracts/
/verdaccio/db/
/.yarnrc
/build/gsn
/gsn.iml
/packages/paymasters/types/
/packages/paymasters/build/
/packages/paymasters/dist/
/packages/paymasters/json-input.json
hardhat.log
/packages/contracts/solpp/
/packages/contracts/docs/
/packages/deployer/contracts-link
/packages/deployer/all-networks.json
/packages/deployer/deployments/
