/build/
.DS_Store
node_modules
/.vscode/settings.json
/.idea/*
!/.idea/dictionaries/
/serverdock/version
/secret_mnemonic
/.0x-artifacts/
/coverage/
/coverage.json
/artifacts/
/webtools/openeth-webtools.pack.js
/singleton/
/.eslintcache
/src/common/interfaces/
/ganache.pid
/types/truffle-contracts/
serverdock/
/dist/
cache
/helpers/compiled/
